*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1.5fr 0.5fr;
    background-image: url(./img/nick-e-charlie-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 24px 70px;
    font-family: 'Righteous', cursive;
}

.opcoes{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    gap: 50px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 100px;
}

.container-esquerdo {
    display: grid;
    align-items: center;
}

img[alt~=logo-serie] {
    width: 700px;
    padding-left: 5%;
}

.description__text{
    font-size: 1.9em;
    width: 50%;
    color: white;
    text-align: justify;
    justify-content: center;
    
}

.container-direito{
    display: grid;
    
}

.logo__apps{

    display: grid;
    place-content: center;
    gap: 24px;
  
}

.logo__apps a {
    display: grid;
    place-items: center;
}

.logo:hover{
    transition-duration: 1ms;
    transform: scale(1.2);
}

footer{
    display: flex;
    align-items: center;
}

.videos{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

