*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 200px;
    background-image: url(./img/nick-e-charlie-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 24px 70px;
    font-family: 'Righteous', cursive;
}

header{
    height: 100px;
}

.opcoes{
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 50px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 100px;
}

.container-esquerdo {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.logo__serie{
    display: grid;
    place-content: center start;
}

.logo__serie img {
    width: 700px;
    padding-left: 100px;
}

.description__text{
    font-size: 35px;
    width: 1000px;
    color: white;
    text-align: justify;
    justify-content: center;
    
}

.container-direito{
    display: grid;
    
}

.logo__apps{

    display: grid;
    place-content: center;
    gap: 24px;
  
}

.logo__apps a {
    display: grid;
    place-items: center;
}

.videos{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

